.homepageContainer {
  background-color: #0c425d;
  width: 75%;
  min-height: 100vh;
  margin: auto;
  text-align: center;
}

.homepageInfo {
  display: inline-block;
}

.drop {
  position: absolute;
  left: 70%;
  top: 10%;
}

.btns {
  width: max-content;
  display: inline-block;
  background: var(--color-bg);
  padding: 0.75rem 1.2rem;
  border-radius: 0.4rem;
  cursor: pointer;
  border: 1px solid var(--color-bg);
  transition: var(--transition);
  position: absolute;
  left: 69.69%;
  top: 15%;
}

.btns:hover {
  background: var(--color-bg);
  color: var(--color-light);
  border-color: transparent;
  transform: scale(1.02);
}
