.cont {
  background: rgba(0, 0, 0, 0.4);
  width: max-content;
  display: block;
  padding: 0.7rem 1.7rem;
  z-index: 2;
  height: 11%;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 65%;
  transform: translateX(-50%);
  bottom: 2rem;
  border-radius: 3rem;
  backdrop-filter: blur(15px);
}

.cont p {
  background: transparent;
  margin-right: 10px;
  border-radius: 50%;
  color: var(--color-light);
}

.cont h1 {
  background: transparent;
  margin-right: 10px;
  border-radius: 50%;
  color: var(--color-light);
}
