.about {
  background-color: #0c425d;
  width: 75%;

  margin: auto;
  text-align: center;
  overflow: hidden;
  min-height: 100vh;
}
.info {
  display: inline-block;
  width: 60%;
}

img {
  overflow: hidden;
  height: 400px;
  border-radius: 25px;
}
